<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="p:domain_verify" content="056b9c2877e2a249bf76e9224308187b"/>
    <link rel="shortcut icon" href="/vendors/ico/favicon.ico">
    <title>Food Maniacs</title>
    <link href="/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/landing.css" rel="stylesheet">
    <link href="/stylesheets/auth.css" rel="stylesheet">
    <link href="/vendors/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/vendors/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="/vendors/plugins/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <script>
        paceOptions = {
            elements: true
        };
    </script>
    <script src="/vendors/js/pace.min.js"></script>


</head>

<body>

        

