<% include ./partials/header %>

    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 page-content">
                    <div class="inner-box category-content">
                        <h2 class="title-2"><i class="fa fa-credit-card" aria-hidden="true" style="margin-right:5px"></i>Content</h2>
                        <div class="row">
                            <div class="col-sm-12">
                                <form action="/" method="POST" enctype='multipart/form-data'>
                                    <fieldset>

                                        <div class="form-group row">
                                            <label for="title" class="col-md-4 col-form-label" >Title: </label>
                                            <div class="col-md-6">
                                                <input type="text" name="title" class="form-control input-md enter-otp" id=title" value="" maxlength="" >
                                            </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                            <label for="author" class="col-md-4 col-form-label" >Author: </label>
                                            <div class="col-md-6">
                                                <input type="text" name="author" class="form-control input-md enter-otp" placeholder="" id="author" value="" maxlength="20" >
                                            </div>
                                            </div>
                                            
                                             <div class="form-group">
                                        <label for="comment">Description:</label>
                                        <textarea class="form-control" rows="5" id="comment" name="description" placeholder="Enter your content"></textarea>
                                    </div>

                                    <div class="mb10 form-group" style="margin-top:20px">
                                            <input id="input-upload-img1" name="blogphoto" type="file" class="file" required>
                                        </div>
                                            
                                        </div>
                                        

                                        <div class="form-group row">
                                            <div class="col-md-6" style="margin-left:600px;margin-bottom:20px">
                                                <button type="submit" class="btn btn-primary control-label">Submit</button>
                                            </div>

                                            </div>

                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.page-content -->

                
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.main-container -->


<script src="/js/auth/reg_step2.js"></script>
